-
  var { filter, card } = data['article-panel']
.article-panel
  each item in filter
    button(
      class=`article-panel__button--${item.theme}`
    )= item.text
    
each item in card
  .article-panel__card
    if item.thumbnail
      div(
        style=`background-image: url(${baseUrl}${item.thumbnail})`
        class=`article-panel__thumbnail`
      )
    else 
      div
    .article-panel__content
      h2.article-panel__title= item.title
      p.article-panel__paragraph= item.description
    .article-panel__label
      span.article-panel__text= item.label
      .b2b-arrow
